body {
    background-color: black;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

#link {
    position: relative;
    z-index: 3;
    text-align: center;
}

iframe {
    width: 80%;
    position: relative;
    top: 60px;
    left: 5%;
}
h1{
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-left: 100px;

}
h2{
  color: black;
  margin-top: 80px;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

#slider{
  background-color: white;
}

#menu {
float: right;
margin-top: 10px;
}

.glyphicon{
  margin-right: 10px;

}

#close {
  margin-top: 100px;
}

.footer{
  position: absolute;
  bottom: 0 ;
  margin-bottom: 20px;
  text-align: center;
}

.copyright {
  text-align: center;
}

.social{
  text-align: center;
  margin-top: 10px;
}

#facebook {
  margin-right: 10px;
}

#twitter {
  margin-right: 10px;
}
#github {
  margin-right: 10px;
}

 #submit {
   margin-top: 10px;
 }
