<div class="fullscreen-content" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSvjGoZxXRQtxtGbsjlA8zV5vsp_kCFQY">
    <ng-map id='webcam-map'
        class="map"
        center='[54.526, 15.255]'
        zoom='5'
        map-type-control="false"
        map-type-control-options="{style:'HORIZONTAL_BAR', position:'BOTTOM_CENTER'}"
        styles="{{mapStyle}}"
        street-view-control="false"
        on-dragend="updateBounds()"
        on-zoom_changed="updateBounds()">
        <custom-marker
            ng-repeat="cam in cams track by $index"
            id="custom-marker-{{$index}}"
            position="{{cam.location.latitude}}, {{cam.location.longitude}}"
            on-click="markerClicked(cam)">
            <div>
                <img style="height: 100px; width:auto" src="/img/marqueur.png"/>
            </div>
        </custom-marker>
    </ng-map>

    <div ng-if='show' id='modal'>
        <button type="button" name="button" ng-click="show = !show"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <!-- <div id='link'><a name="lkr-timelapse-player" data-id="1204996144" data-play="day" href="//lookr.com/1204996144" target="_blank">Toulon</a>
            <script async type="text/javascript" src="//api.lookr.com/embed/script/timelapse.js"></script>
        </div> -->
        <iframe id="link "name="lkr-timelapse-player-iframe" allowfullscreen="true" style="border: medium none;" ng-src="{{currentCamUrl}}" width="100%" height="574.875" frameborder="0"></iframe>
    </div>
</div>
